// Core views.

#view-core\:child {
    .child-photo {
        max-width: 150px;
    }

    .child-name {
        font-size: 2.25rem;
        font-weight: 600;
        letter-spacing: -0.02em;
        margin-top: 1rem;
    }
}

@include media-breakpoint-up(md) {
    #view-core\:child {
        .child-detail-column {
            position: fixed;
            width: 100%;
        }
    }
}
